@charset "utf-8";
/* CSS Document */

body,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
  max-width: 1200px;
  min-width: 320px;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#main-content {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  width: auto;
  background-color: #444;
  color: #aaa;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  min-width: 320px;
  height: 60px;
  line-height: 60px;
  background-color: #252831;
  text-align:center;
}

h1 {
  color: #fff;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#breadcrumb {
  padding: 10px 10px 10px 20px;
  list-style: none;
  background-color: #eee;
  margin: 0;
  width: calc(100% - 30px);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#skip-link {
  position: absolute;
  padding: 10px 10px 10px 20px;
  opacity: 0;
  color: #0275d8;
  background-color: #eee;
  z-index: 100000;
  transition: opacity 0.3s;
}

#skip-link:focus {
  opacity: 1;
}

#map {
  height: 240px;
  width: 100%;
  min-width: 320px;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  padding: 15px 0;
  margin: 0;
}

.filter-options h2 {
  display: block;
  color: white;
  line-height: 1em;
  font-weight: normal;
  padding: 0 0 6px 0;
  margin: 2px 0 0 15px;
}

.filter-options-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 15px;
}

.filter-options select {
  display: inline-block;
  background-color: white;
  border: 2px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.filter-options select:focus {
  border: 2px solid orange;
  box-shadow: 0 0 8px 4px #fff;
}

.filter-options #cuisines-select {
  margin: 0 0 0 15px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  padding: 5px;
  margin: 0;
}

#restaurants-list li {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 10px 0;
  margin: 0;
}

#restaurants-list p {
  margin: 0;
  padding: 0;
}

#restaurants-list li a {
  background-color: orange;
  border: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 0;
  margin: 20px 0 0 0;
}

#restaurants-list li a:focus {
  border: 3px solid #3397db;
}

/* ====================== Restaurant Details ====================== */
.inside #main-content {
  display: flex;
  flex-wrap: wrap;
}

.inside #map-container {
  background: white none repeat scroll 0 0;
  width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  margin: 0 auto;
  font-size: 16px;
}

#restaurant-name, #reviews-container h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 0;
  margin: 40px 0 5px 0;
}

#reviews-container h2 {
  margin-bottom: 20px;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 16px;
  padding: 0;
  margin: 5px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 0;
  margin: 0 20px;
  width: calc(100% - 40px);
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  list-style-type: none;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}

#reviews-list li p {
  padding: 0;
  margin: 0;
}

#reviews-list .review-name {
  display: inline-block;
  background-color: #333;
  color: #fff;
  font-weight: 400;
  text-align: left;
  border-top-left-radius: 20px;
  width: 100%;
  padding: 4px 0 4px 20px;
  margin: 0;
}

#reviews-list .review-date {
  display: inline-block;
  position: absolute;
  font-size: 16px;
  color: #ddd;
  top: 6px;
  right: 10px;
  font-weight: 400;
}

#reviews-list .review-rating {
  display: inline-block;
  color: white;
  background-color: orange;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0 10px;
  margin: 10px 0 0 10px;
  border-radius: 4px;

}

#reviews-list .review-comments {
  font-size: 16px;
  padding: 0;
  margin: 5px 10px 20px 10px;
}

#restaurant-hours {
  font-size: 14px;
  line-height: 1.3;
  padding: 0;
  margin: 10px;
}

#restaurant-hours td {
  vertical-align: top;
  color: #666;
  min-width: 80px;
}

/* ====================== Media Queries ====================== */
@media only screen and (min-width: 420px) {
  h1 {
    font-size: 22px;
  }
  #map {
    height: 260px;
  }
  .filter-options {
    padding: 20px 0;
  }
  .filter-options h2 {
    display: inline-block;
  }
  .filter-options-container {
    display: inline-block;
    float: right;
    margin: 0 15px;
  }
  #restaurant-name, #reviews-container h2 {
    font-size: 22px;
  }
}

@media only screen and (min-width: 520px) {
  #map {
    height: 280px;
  }
}

@media only screen and (min-width: 600px) {
  #restaurants-list li {
    width: calc(100%/2 - 20px);
  }
  .inside #map-container {
    width: calc(50% - 40px);
    min-height: 200px;
    height: auto;
    margin: 0 20px 0 0;
    padding: 0;
    overflow: hidden;
    flex: 1;
    order: 2;
  }
  #restaurant-name, #reviews-container h2 {
    font-size: 20px;
  }
  #restaurant-container {
    width: calc(50% - 40px);
    order: 1;
    flex: 1;
  }
  #reviews-container {
    width: calc(100% - 40px);
    order: 3;
  }
  #reviews-list {
    max-width: 620px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 720px) {
  h1 {
    font-size: 24px;
  }
  #map {
    height: 320px;
  }
  #restaurants-list li {
    width: calc(100%/3 - 20px);
  }
}

@media only screen and (min-width: 920px) {
  #restaurants-list li {
    width: calc(100%/4 - 20px);
  }
  #map {
    height: 340px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    margin: 0 auto;
  }
  h1 {
    font-size: 26px;
  }
  #map {
    height: 360px;
  }
  #restaurants-list li {
    width: calc(100%/5 - 20px);
  }
}
